@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;

}

body {
  font-family: var(--font-avenir-next-regular), sans-serif;

}

.sticky-position {
  position:-webkit-sticky;
  top:2rem;
}


h1, h2, h3 {
  font-family: var(--font-read-ex-pro-regular), serif;
}

.thin-text {
  font-family: var(--font-read-ex-pro-thin), serif;
}




/* @layer utilities {
    .container {
        @apply max-w-7xl px-4  mx-auto;
    }
} */